.root {
  @apply sticky top-0;
  background-color: var(--primary);
  height: var(--desktop-navbar-height);
  border-bottom: 1px solid var(--elevated-seperator);

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.nav {
  /* height: var(--desktop-navbar-height); */
}
