.root {
  @apply sticky top-0;
  background-color: var(--primary);
  height: var(--desktop-navbar-height);
  border-bottom: 1px solid var(--secondary-border);

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.nav {
  @apply w-full max-w-3xl	flex flex-row justify-between
  
  /* max-width: 48rem; */
  /* height: var(--desktop-navbar-height); */;
}
